<link type="text/css" href="{{ 'featuredProducts.scss.css' | asset_url }}" rel="stylesheet">
<script>
    const addToCart = (itemId) => {

        const body = {
            items: [
                {
                    quantity: 1,
                    id: itemId
                }
            ]
        };

        return fetch("/cart/add.js", {
            method: 'POST',
            headers: {
                "content-type": "application/json"
            },
            body: JSON.stringify(body)
        }).then(res => res.json()).then(res => {
            console.log(res);
        })
    
    };
</script>
<div id="featuredProducts">

    <div class="title">
        <h1> {{ section.settings.title-text }} </h1>
    </div>

    <div class="products">
        <ul class="featured-products-list">
            {% for product in collections[section.settings.chosen].products %}
                {% if forloop.index0 > 3 %}
                    {% break %}
                {% else %}
                    <li class="featured-list-item">
                        <a href="{{ product.url }}">
                            <span class="featured-item-title">{{product.title}}</span>
                            <img src="{{ product| img_url}}" alt="{{ product.description }}" class="featured-item-img">
                        </a>
                            Price: {{ product.price }}
                            <button class="featured-item-button" onclick="addToCart({{ product.variants[0].id }})">Add to Cart</button>
                            <div class="featured-item-button--tab"></div>
                    </li>
                {% endif %}    
            {% endfor %}
        </ul>    
  </div>
</div>
{% schema %}
  {
    "name": "Featured Products",
    "settings": [
        {
            "id": "title-text",
            "type": "text",
            "label": "Heading",
            "default": "Title"
        },
        {
            "type": "collection",
            "id": "chosen",
            "label": "Please choose a collection to feature.",
            "info": "Only the first 4 products will be displayed"   
        }
    ],
    "presets": [{
        "name": "Featured Products",
        "category": "Text/Image"
    }]
  }
{% endschema %}
